@import url("https://fonts.googleapis.com/css2?family=Imbue:opsz,wght@10..100,100..900&family=News+Cycle:wght@400;700&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(255, 255, 255, 1);

  color: #000000;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.w-u-header.is-open .w-u-header-background {
  left: 0;
}
.w-u-header-button-wrapper {
  margin-left: auto;
}
.w-u-header-icon {
  display: none;
}

.w-u-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.w-u-navigation-list.is-open {
  right: 0;
}
.w-u-header-icon-menu {
  display: block;
}

.w-u-header-icon-button.is-open .w-u-header-icon-menu {
  display: none;
}

.w-u-header-icon-button.is-open .w-u-header-icon-close {
  display: block;
}

.w-u-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 60px;
  background: rgba(235, 226, 213, 1);
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.25);
}

.w-u-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(216, 0, 18, 1);
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.25);
}
.w-u-header.is-open .w-u-header-background {
  left: 0;
}
.w-u-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.w-u-header-icon-menu {
  display: block;
}

.w-u-header-icon-button.is-open .w-u-header-icon-menu {
  display: none;
}

.w-u-header-icon-button.is-open .w-u-header-icon-close {
  display: block;
}

.w-u-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 16px;
  position: relative;
}

.w-u-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 657px;
  transition: 0.3s;
  z-index: 999;
  padding: 100px 40px 0;
  border-radius: 0px 0px 26px 26px;
  gap: 32px;
  background: rgba(43, 8, 68, 1);
  backdrop-filter: blur(18px);
}

.w-u-navigation-list.is-open {
  right: 0;
}

.w-u-navigation-link {
  font-family: Imbue;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -2%;
  text-align: center;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(235, 226, 213, 1);
}

.w-u-navigation-link:hover,
.w-u-navigatioт-link:focus {
  color: rgba(0, 0, 0, 1);
}

.w-u-header.is-open {
  background-color: transparent;
}

.w-u-navigation-img {
  display: none;
}

@media screen and (min-width: 1191px) {
  .w-u-navigation-img {
    display: flex;
    font-family: Imbue;
    font-weight: 400;
    font-size: 32px;
    line-height: 80%;
    letter-spacing: -2%;
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
    margin-left: 300px;
  }
  .w-u-policy-terms-header-icon-menu {
    display: none;
  }

  .w-u-header {
    width: 100%;
    height: 70px;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .w-u-header-background {
  }
  .w-u-header-icon-button {
    display: none;
  }
  .w-u-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .w-u-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 32px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .w-u-navigation-link {
    font-family: Imbue;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -2%;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
  }
  .w-u-navigation-link:hover,
  .w-u-navigatioт-link:focus {
    color: rgba(216, 0, 18, 1);
  }
  .w-u-navigation-item-desk {
    display: none;
  }
}
.w-u-home {
  width: 375px;
  height: 1037px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Frame\ 39925.png");
  margin: auto;
}
.w-u-home-container {
  width: 375px;
  padding: 113px 0px 0px;
  margin: auto;
}

.w-u-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.w-u-home-title {
  font-family: Imbue;
  font-weight: 500;
  font-size: 114.14px;
  leading-trim: Cap height;
  letter-spacing: -6px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(216, 0, 18, 1);
}

.w-u-home-text {
  font-family: News Cycle;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 1px;
  text-align: center;
  padding: 0px 14px 10px;
  color: rgba(216, 0, 18, 1);
}

.w-u-home-button-link {
  display: flex;
  align-items: center;
  gap: 27px;
  font-family: Imbue;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
  color: rgba(0, 0, 0, 1);
  margin: 40px 30px 0;
}
.w-u-home-button-link img {
  width: 35px;
  height: 30px;
}
.w-u-home-button-link:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1191px) {
  .w-u-home {
    width: 1440px;
    height: 977px;
    position: relative;
    background-image: url("/img/home/Hero.png");
  }
  .w-u-home-container {
    width: 1440px;
    padding: 150px 0px 0px;
  }
  .w-u-home-container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .w-u-home-title {
    font-family: Imbue;
    font-weight: 500;
    font-size: 448.79px;
    leading-trim: Cap height;
    line-height: 100%;
    letter-spacing: -26px;
    text-align: center;
    text-transform: uppercase;
    padding: 0 40px;
    color: rgba(216, 0, 18, 1);
  }

  .w-u-home-text {
    font-family: News Cycle;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 3%;
    text-align: center;

    padding: 0px 14px 10px;
    color: rgba(216, 0, 18, 1);
    margin-top: -30px;
  }
  .w-u-home-img {
    position: absolute;
    top: 264px;

    content: url("/img/home/Interaction\ \(1\).png");
  }
  .w-u-home-button-link {
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 27px;
    font-family: Imbue;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
    color: rgba(0, 0, 0, 1);
    margin: 40px 30px 0 0 1016px;
    margin: 93px 0 0 1000px;
  }
  .w-u-home-button-link img {
    width: 35px;
    height: 30px;
  }
}
.w-u-uniqueness {
  margin: auto;
  background: rgba(217, 217, 217, 1);
}
.w-u-uniqueness-container {
  margin: auto;
  width: 375px;
  height: 1177px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/uniqueness/Section\ 3.png");
  padding: 50px 16px 0;
}
.w-u-uniqueness-t {
  text-align: center;
}
.w-u-uniqueness-text-bold-q {
  font-family: News Cycle;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: -2%;
  text-align: center;
  padding: 20px 0 32px;
  color: rgba(255, 255, 255, 1);
}
.w-u-uniqueness-text-q {
  font-family: News Cycle;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: -2%;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.w-u-uniqueness-list {
  padding-top: 35px;
}
.w-u-uniqueness-item {
  margin: 0 14px;
  width: 276px;
  height: 472.2142639160156px;
  padding: 13.14px;
  background: rgba(255, 255, 255, 1);
}
.w-u-uniqueness-text-bold {
  font-family: News Cycle;
  font-weight: 700;
  font-size: 26.29px;

  letter-spacing: -2%;
  color: rgba(216, 0, 18, 1);
  padding: 13px 0;
}
.w-u-uniqueness-text {
  font-family: News Cycle;
  font-weight: 400;
  font-size: 23px;
  letter-spacing: -2%;

  color: rgba(216, 0, 18, 1);
}
.w-u-uniqueness-link {
  border-radius: 82.89px;
  border-width: 0.83px;
  padding-top: 16.58px;
  padding-right: 56.37px;
  padding-bottom: 16.58px;
  padding-left: 56.37px;

  border: 0.83px solid rgba(255, 255, 255, 1);
  font-family: News Cycle;
  font-weight: 400;
  font-size: 18.24px;
  letter-spacing: -2%;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.w-u-uniqueness-link-w {
  margin: 46px 0 0 30px;
}
@media screen and (min-width: 1191px) {
  .w-u-uniqueness-container {
    margin: auto;
    width: 1440px;
    height: 1084px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/uniqueness/Section\ 3\ \(2\).png");
    padding: 50px 96px 0;
  }
  .w-u-uniqueness-t {
    text-align: center;
  }
  .w-u-uniqueness-text-bold-q {
    font-family: News Cycle;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: -2%;
    text-align: center;

    padding: 20px 0 32px;
    color: rgba(255, 255, 255, 1);
  }
  .w-u-uniqueness-text-q {
    font-family: News Cycle;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: -2%;
    text-align: center;
  }

  .w-u-uniqueness-list {
    padding-top: 37px;
  }
  .w-u-uniqueness-item {
    margin: 0 24px;
    width: 276px;
    height: 472.2142639160156px;
    padding: 13.14px;
    background: rgba(255, 255, 255, 1);
  }
  .w-u-uniqueness-text-bold {
    font-family: News Cycle;
    font-weight: 700;
    font-size: 26.29px;

    letter-spacing: -2%;
    color: rgba(216, 0, 18, 1);
    padding: 13px 0;
  }
  .w-u-uniqueness-text {
    font-family: News Cycle;
    font-weight: 400;
    font-size: 23px;
    letter-spacing: -2%;

    color: rgba(216, 0, 18, 1);
  }
  .w-u-uniqueness-link {
    border-radius: 100px;
    border-width: 1px;
    padding-top: 20px;
    padding-right: 68px;
    padding-bottom: 20px;
    padding-left: 68px;
    font-family: News Cycle;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: -2%;
  }
  .w-u-uniqueness-link-w {
    margin: 46px 0 0 450px;
  }
}
.w-u-about {
  margin: auto;
  width: 375px;
  height: 1719px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Section\ 1.png");
}
.w-u-about-container {
  width: 375px;
  padding: 992px 19px 0px;
  margin: auto;
}
.w-u-about-title {
  font-family: Imbue;
  font-weight: 500;
  font-size: 84px;
  leading-trim: Cap height;
  line-height: 100%;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}
.w-u-about-text {
  font-family: News Cycle;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: -0.5px;
  color: rgba(255, 255, 255, 1);
  padding-top: 32px;
}

@media screen and (min-width: 1191px) {
  .w-u-about {
    width: 1440px;
    height: 825px;
    background-image: url("/img/Section\ 1\ \(1\).png");
  }
  .w-u-about-container {
    width: 1440px;
    padding: 36px 40px 0 660px;
  }
  .w-u-about-title {
    font-family: Imbue;
    font-weight: 500;
    font-size: 84px;
    leading-trim: Cap height;
    line-height: 100%;
    letter-spacing: -2%;
    text-transform: uppercase;
  }
  .w-u-about-text {
    font-family: News Cycle;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: -2%;
  }
}
.w-u-why {
  margin: auto;
}
.w-u-why-q {
  color: rgba(216, 0, 18, 1);
  letter-spacing: -2px;
}
.w-u-why-container {
  width: 375px;
  margin: auto;
  padding: 795px 2px 0;
  width: 375px;
  height: 1543px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Section\ 2.png");
}
.w-u-why-text-q {
  font-family: News Cycle;
  font-weight: 400;
  font-size: 21.37px;
  line-height: 150%;
  letter-spacing: -2%;
  color: rgba(0, 0, 0, 1);
}
.w-u-why-list {
  padding: 20px 15px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.w-u-why-text-bold {
  font-family: News Cycle;
  font-weight: 400;
  font-size: 21.37px;
  line-height: 150%;
  letter-spacing: -2%;
  color: rgba(0, 0, 0, 1);
  padding-left: 10px;
}
.w-u-why-text {
  font-family: News Cycle;
  font-weight: 400;
  font-size: 21.37px;
  line-height: 150%;
  letter-spacing: -2%;
  color: rgba(216, 0, 18, 1);
}

@media screen and (min-width: 1191px) {
  .w-u-why {
    background-color: #ebe2d5;
  }
  .w-u-why-container {
    width: 1440px;
    padding: 47px 39px 0 812px;
    width: 1440px;
    height: 805px;
    background-image: url("/img/Section\ 2\ \(1\).png");
  }
  .w-u-why-q {
    color: rgba(216, 0, 18, 1);
    letter-spacing: -2px;
  }

  .w-u-why-text-q {
    font-family: News Cycle;
    font-weight: 400;
    font-size: 21.37px;
    line-height: 150%;
    letter-spacing: -2%;
    color: rgba(0, 0, 0, 1);
    padding-top: 10px;
  }
  .w-u-why-list {
    padding: 20px 0 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .w-u-why-text-bold {
    font-family: News Cycle;
    font-weight: 400;
    font-size: 21.37px;
    line-height: 150%;
    letter-spacing: -2%;

    padding-left: 10px;
  }
  .w-u-why-text {
    font-family: News Cycle;
    font-weight: 400;
    font-size: 21.37px;
    line-height: 150%;
    letter-spacing: -0.5px;
  }
}

.w-u-reviews {
  background: rgba(43, 8, 68, 1);
}
.w-u-reviews-container {
  margin: auto;
  padding: 69px 17px 0;
  width: 375px;
}
.w-u-reviews-list {
  padding-top: 74px;
}

.w-u-reviews-item {
  margin: 0 10px;
  width: 296px;
  height: 396px;
  color: rgba(255, 255, 255, 1);
}

.w-u-reviews-text-bold {
  font-family: News Cycle;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: -0.5px;
  padding: 16px 0;
}

.w-u-reviews-text {
  font-family: News Cycle;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: -0.5px;
}

@media screen and (min-width: 1191px) {
  .w-u-reviews-container {
    margin: auto;
    padding: 69px 40px 0;
    width: 1440px;
  }
  .w-u-reviews-list {
    padding-top: 64px;
  }

  .w-u-reviews-item {
    margin: 0 30px;
    width: 296px;
    height: 396px;
    color: rgba(255, 255, 255, 1);
  }

  .w-u-reviews-text-bold {
    font-family: News Cycle;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: -0.5px;
    padding: 16px 0;
  }

  .w-u-reviews-text {
    font-family: News Cycle;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: -0.5px;
  }
}

.w-u-features {
  background: rgba(43, 8, 68, 1);
}

.w-u-features-container {
  width: 375px;
  margin: auto;
  padding: 66px 18px 33px;
}
.w-u-features-text-bold {
  font-family: News Cycle;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: -2%;
  color: rgba(255, 255, 255, 1);
  padding: 20px 0 32px;
}
.w-u-features-text-bold-q {
  font-family: News Cycle;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: -2%;
  color: rgba(255, 255, 255, 1);
}
.w-u-features-form {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding-top: 64px;
}
.w-u-features-input {
  border: none;
  width: 341px;
  padding-top: 6px;
  padding-right: 29px;
  padding-bottom: 6px;
  padding-left: 29px;
  backdrop-filter: blur(50px);
  font-family: News Cycle;
  font-weight: 400;
  font-size: 20px;
}
.w-u-features-textarea {
  height: 198px;
}
.w-u-features-button {
  border: 1px solid rgba(255, 255, 255, 1);
  width: 334px;

  border-radius: 100px;

  padding-top: 20px;
  background-color: transparent;
  padding-bottom: 20px;
  font-family: News Cycle;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}
.w-u-features-button:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
.w-u-footer-q {
  padding-bottom: 49px;
  background: rgba(43, 8, 68, 1);
}
@media screen and (min-width: 1191px) {
  .w-u-features-container {
    width: 1440px;
    height: 1151px;
    margin: auto;
    padding: 116px 748px 0 87px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/Frame\ 39925\ \(1\).png");
    position: relative;
    z-index: 1;
  }
  .w-u-footer-text-q {
    position: relative;
    z-index: 2;
  }
  .w-u-features-text-bold {
    font-family: News Cycle;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: -2%;

    padding: 20px 0 32px;
  }
  .w-u-features-text-bold-q {
    font-family: News Cycle;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: -2%;
  }
  .w-u-features-form {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding-top: 64px;
  }
  .w-u-features-input {
    width: 604px;
    padding-top: 6px;
    padding-right: 29px;
    padding-bottom: 6px;
    padding-left: 29px;
    font-family: News Cycle;
    font-weight: 400;
    font-size: 20px;
  }
  .w-u-features-textarea {
    height: 198px;
  }
  .w-u-features-button {
    border: 1px solid rgba(255, 255, 255, 1);
    width: 334px;

    border-radius: 100px;

    padding-top: 20px;
    background-color: transparent;
    padding-bottom: 20px;
    font-family: News Cycle;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
  }
  .w-u-footer-q {
    margin-top: -140px;
    padding-bottom: 70px;
    background: rgba(43, 8, 68, 1);
  }
}

.w-u-container {
  padding: 102px 12px 40px;
  width: 375px;
  margin: auto;
  font-family: News Cycle;
  font-weight: 400;
  font-size: 18px;
}

.w-u-container h1 {
  font-family: News Cycle;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

.w-u-container h2 {
  margin-top: 10px;
  font-family: News Cycle;
  font-weight: 700;
  font-size: 24px;
}

.w-u-container h3 {
  margin-top: 10px;
  font-family: News Cycle;
  font-weight: 400;
  font-size: 18px;
}

.w-u-container ul {
  margin-top: 10px;
  list-style-type: disc;
  margin-left: 20px;
}

.w-u-container ul li {
  margin-bottom: 10px;
}
.w-u-container p {
  margin-top: 10px;
}
.w-u-container a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
}

.w-u-container a:hover {
  text-decoration: underline;
}

strong {
  color: #000;
}
@media screen and (min-width: 1191px) {
  .w-u-container {
    padding: 148px 80px 40px;
    width: 1440px;
    margin: auto;
    font-family: News Cycle;
    font-weight: 400;
    font-size: 18px;
  }

  .w-u-container h1 {
    font-family: News Cycle;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }

  .w-u-container h2 {
    margin-top: 20px;
    font-family: News Cycle;
    font-weight: 700;
    font-size: 24px;
  }

  .w-u-container h3 {
    margin-top: 20px;
    font-family: News Cycle;
    font-weight: 400;
    font-size: 18px;
  }

  .w-u-container ul {
    margin-top: 20px;
  }

  .w-u-container ul li {
    margin-bottom: 10px;
  }
  .w-u-container p {
    margin-top: 20px;
  }
}

.w-u-footer-container {
  width: 375px;
  margin: auto;
  padding: 24px 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.w-u-footer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.w-u-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: Imbue;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -2%;
}

.w-u-footer-copyright {
  font-family: Imbue;
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: -2%;
}

@media screen and (min-width: 1191px) {
  .w-u-footer-container {
    width: 1440px;
    padding: 24px 40px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 160px;
  }

  .w-u-footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    gap: 24px;
  }

  .w-u-footer-text {
    font-family: Imbue;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -2%;
  }

  .w-u-footer-copyright {
    font-family: Imbue;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -2%;
  }
}

.w-u-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 30px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(149, 49, 133, 1);
  box-shadow: 0px 14px 42px 0px rgba(8, 15, 52, 0.06);
  z-index: 1000;
  display: none;
}

.w-u-cookie-popup-text-two {
  color: rgba(87, 78, 68, 1);
}

.w-u-cookie-button-container {
  padding: 30px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.w-u-cookie-button {
  border: none;
  background-color: transparent;
}

#accept-cookies {
}

.w-u-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1191px) {
  .w-u-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .w-u-cookie-popup-text-two {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 648px;
  }

  .w-u-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .w-u-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 32px;
    display: none;
  }
}
